html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, yellow, blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.flag{
    height: 240px;
    width: 240px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rectangle{
    background:#fff;
}
.horizontal{
    width: calc(240px*3/16);
    height: calc(240px*5/8);
}
.vertical{
    width: calc(240px*5/8);
    height: calc(240px*3/16);
    position: absolute;
    
}