body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    border: 0;
    clip: rect(0000);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container{
    padding: 2em;
    width: 80%;
    margin: auto;
    background: purple;
    min-width: 320px;
    display: flex;
    justify-content: center;
}
.search{
    width: 30%;
    line-height: 2;
    border-radius: 4px;
    border: 3px solid black;
    transition: all .3s;
}
.search:focus{
    border-color: rgb(0, 217, 255);
    width: 100%;

}
.search:focus::placeholder{
    color: transparent;
}